footer {
    background-color: var(--color-footer);
    width: 100%;
    color: white;
}

#footer_content {
    background-color: var(--color-footer);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: black;
    border-radius: 50%;
    transition: all 0.4s;
    text-decoration: none;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}
#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807)
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--cplor-card-bg);
     transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--color-accent);
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: gray;
}

#footer_subscribe button {
    background-color: var(--color-primary);
    color: white;
    border-radius: 6px;
    padding: 8px;
    border: none;
  }
  
  #footer_subscribe button:hover {
    background-color: var(--color-accent);
    color: var(--color-text);
}  

#input_group {
    display: flex;
    align-items: center;
    border-radius: 4px;
}

input_group input{
    all: unset;
    padding: 0.75rem;
}

input_group button {
    background-color: gray;
}